:root {
  --primary-text-colour: #757575;
  --title-text-colour: #212121;
  --accent-text-colour: #2196f3;
  --primary-white-colour: #fff;
  --background-secondary-color: #2f303a;
  --background-grey-color: #f5f4fa;
  --icon-grey-color: #afb1b8;

  --font-family: Roboto, sans-serif;
  --font-weight: 400;
  --letter-spacing: 0.01em;
}
